* {
    border: none;
    text-decoration: none;
    color: inherit;
    outline: none;
    font-size: 16px;
}

.container {
    width: 60%;
    margin: 40px auto;
    border: 2px solid #000;
    padding: 40px;
}

.inputDataContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.inputDataContainer .inputsControl {
    display: flex;
    align-items: center;
    gap: 4px;
}


.jsonContainer {
    margin-top: 40px;
}
.jsonContainer textarea {
    resize: none;
}
.jsonContainer .btnContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.jsonContainer .btnContainer > * {
    width: 20%;
}
.jsonContainer .errorMessage {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: red;
}

.newTableRowContainer {
    margin-top: 20px;
    border: 1px dashed #000;
    padding: 10px;
}
.newTableRowContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
