* {
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
    outline: none;
    font-size: 16px;
}

.container {
    width: 60%;
    margin: 40px auto;
    border: 2px solid #000;
    padding: 40px;
}
@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
}

.inputDataSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.inputDataSection .sectionHeading {
    display: flex;
    width: 100%;
}
.inputDataSection .sectionHeading > h2 {
    font-size: 20px;
    width: 45%;
    text-align: center;
}

.jsonSection {
    margin-top: 40px;
}
.jsonSection textarea {
    resize: none;
}
.jsonSection .btnContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.jsonSection .btnContainer > * {
    width: 20%;
}
.jsonSection .errorMessage {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: red;
}

.newTableRowSection {
    margin-top: 20px;
    border: 1px dashed #000;
    padding: 10px;
}
.newTableRowSection form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
